@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;*/

* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

header#cabecalho {
    background-color: #1c1c1c;
    border-bottom: 2px solid #ffffff;
}

img#logo {
    position: absolute;
    top: 7px;
    left: 5px;
}

nav#menu ol {
    margin: 0px;
    list-style: none;
    margin-left: 50px;
}

nav#menu li {
    display: inline-block;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav#menu a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

nav#menu a:hover {
    color: rgb(255, 29, 59);
}

div#bvdas {
    background-image: url(../img/historias2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    border-bottom: 2px solid #794ac0;
    background-color: #1c1c1c;
}