@charset "utf-8";

h1#cons {
    text-align: center;
}

* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

header#cabecalho {
    background-color: #1c1c1c;
}

img#logo {
    position: absolute;
    top: 7px;
    left: 5px;
}

nav#menu ol {
    margin: 0px;
    list-style: none;
    margin-left: 50px;
}

nav#menu li {
    display: inline-block;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav#menu a {
    text-decoration: none;
    color: white;
}

nav#menu a:hover {
    color: rgb(255, 29, 59);
}