@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif;*/

* {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

div#tudo {
    margin-left: 5px;
    margin-right: 5px;
}

div#tema p {
    color: black;
    font-weight: bolder;
}

div#tema input#claro {
    padding: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
}

div#tema input#escuro {
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: #1c1c1c;
    border: 2px solid gray;
    border-radius: 10px;
}

div#hist {
    width: 75%;
}

div#hist h1 {
    text-align: center;
    text-decoration: underline;
}

div#hist p {
    text-align: justify;
    text-indent: 10px;
}

div#hist img {
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 85%;
}

footer#rodape {
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border-top: 2px solid black;
}

footer#rodape a {
    color: #ffffff;
    font-weight: bold;
}